.content_news .list6 {
    text-align: left;
    font-family: 'Noto Serif', serif;
    padding: 0;
    list-style: none;
    cursor: pointer;
    font-size: 15px; }
  
  .content_news .list6 li {
   list-style: none;
    padding: 6px; }
  
  .content_news .list6 li:before {
    padding-right: 10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  
  .content_news .list6 li:hover:before {
    color: #c4010c;
    content: "\2714"; }